.ProgressBar,
.ProgressBar-contentCircle {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.ProgressBar-circle,
.ProgressBar-background {
    fill: none;
    stroke: #ff0036;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    position: relative;
    z-index: 10;
}

.ProgressBar-background {
    stroke: #D8D8D8;
    stroke-width: 2px;
    z-index: 0;
}

.ProgressBar-percentage {
    // color: #ff0036;
    font-size: 46px;
    text-align: center;
    width: 100%;
    position: absolute;
    font-weight: 500;
    color: #ff0036;
}