mixin news
    section.news
        .container
            h2.news__title our <span>news</span>
            p.news__subtitle Lorem ipsum dolor sit amet, consectetur <span> adipiscing elit.</span> Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
        .container(id="news")
        .container
            .news__nav( id="nav") 