mixin acordion
    //- section.details
    //-     h4.tab(role="tab" aria-expanded="false" aria-owns="open-tab" aria-controls="open-tab" tabindex="0") Hwo is creativia
    //-     .about__is-hidden(id="open-tab")
    //-         div( role="treeitem" aria-selected="false")
    //-         p.primery-text-color Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
    //- section.details
    //-     h4.tab(role="tab" aria-expanded="false" aria-owns="open-tab" aria-controls="open-tab" tabindex="0") Hwo is creativia
    //-     .about__is-hidden(id="open-tab")
    //-         div( role="treeitem" aria-selected="false")
    //-         p.primery-text-color Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros.
    div(id="accordeon")
            .acordion-head
                .tab(role="tab" aria-expanded="false" aria-owns="open-tab" aria-controls="open-tab" tabindex="0") Hwo is creativia
            p.primery-text-color.acordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
            .acordion-head
                .tab(role="tab" aria-expanded="false" aria-owns="open-tab" aria-controls="open-tab" tabindex="0") Experiences
            p.primery-text-color.acordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
            .acordion-head
                .tab(role="tab" aria-expanded="false" aria-owns="open-tab" aria-controls="open-tab" tabindex="0") Learn more
            p.primery-text-color.acordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
