#accordeon {
    width: 100%;

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 1139px) {
        margin-bottom: 60px;
    }
}

.acordion-head {
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 40px;
    background-color: #505050;
    outline: none;
    background-color: rgba(38, 38, 38, 1);
    border: 1px solid rgba(255, 0, 54, 0.5);
    // background: linear-gradient(to top, rgba(38, 38, 38, 1) 20%, transparent 100%);


    &:hover,
    &:active {
        color: rgba(255, 0, 54, 1);
        border: 1px solid rgba(255, 0, 54, 1);
        transition: 1s;
    }

    @media screen and (max-width: 540px) {
        margin-right: 0;
    }
}

.icon {
    margin-right: 10px;
}

.acordion-body {
    padding: 10px;
    margin-bottom: 5px;
    display: none;
}

.active {
    display: block;
}

.back::before {
    content: " ";
    display: block;
    background: linear-gradient(to top, rgba(26, 26, 26, 0.36) 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover:before {
    background-color: rgba(00, 00, 00, 0.6);
    transition: all 0.3s ease-in-out;
}

.back:hover>.icon-back {
    opacity: 1;
    transition: all 0.8s ease-in-out
}

.icon-back {
    position: absolute;
    font-size: 100px;
    color: rgb(223, 18, 86);
    transition: 1s;
    opacity: 0;
    z-index: 5;
}