mixin acordion
    div(id="accordeon")
        .acordion-head
            <i class="fas fa-chevron-down icon"></i>
            span Hwo is creativia
        p.primery-text-color.acordion-body.active  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
        .acordion-head 
            <i class="fas fa-chevron-down icon"></i>
            span Experiences
        p.primery-text-color.acordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
        .acordion-head.d-flex 
            <i class="fas fa-chevron-down icon"></i>
            span Learn more
        p.primery-text-color.acordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum saepe ex nesciunt, quidem quis illo cupiditate, quod maxime. Tenetur, ex quos. Magnam quasi iure facere minus velit voluptate accusamus hic!
