mixin btn
    a.button#btn_modal_window 
        span send message
    .modal(id="my_modal")
        .modal_content
            span.close_modal_window ×
            form( id="modal-form" method="get" action="")
                input(type="text" required placeholder="Name")
                input(type="email" required  placeholder="Email")
                input(type="text" required  placeholder="Subject")
                button(type="submit").btn-submit submit
    