mixin nav
    nav.d-none.d-lg-block
        .nav   
            ul.nav__list
                li.nav__item
                    a.nav__link.link(href="#about") about us
                li.nav__item
                    a.nav__link.link(href="#portfolio") portfolio
                li.nav__item
                    a.nav__link.link(href="#team") team    
                li.nav__item
                    a.nav__link.link(href="#news") news 
                li.nav__item
                    a.nav__link.link(href="#contact") contact     
                         