mixin team
    article.team
        .container
            h2.team__title our 
                span.team__span-color teamwork
            .team__subtitle.d-flex.justify-content-center
                h3 Lorem ipsum dolor sit amet, consectetur <span class="team__span-color">adipiscingelit.</span>Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            .row
                each val, index in ['Bruce Wayne', 'Johan De', 'Sarah Doe', 'Amr Srour']
                    .col-12.col-md-6.col-xl-3
                        .team__wrapper
                            .team__img-wrapper
                                .team__network-wrapper
                                    .team__network
                                        <i class="fab fa-facebook-f team__icon"></i>
                                    .team__network
                                        <i class="fab fa-twitter team__icon"></i>
                                    .team__network
                                        <i class="fab fa-google-plus-g team__icon"></i>
                                img.team__img(src=`../../../dist/img/img0${index%2}.png`, alt="team") 
                            .team__name-wrapper
                                h2.team__name=`${val}`
                                p.primery-text-color Webdesigner
            .row
                .col-xl-12
                    .team__wrapper-element 
                        .team__decoration
                            .team__decoration-element
                    h2.team__title our 
                        span.team__span-color skills
                    div.team__subtitle.d-flex.justify-content-center
                        h3 Lorem ipsum dolor sit amet, consectetur 
                            <span class="team__span-color">adipiscingelit.</span> Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            .row
                //- div.d-flex.justify-content-center
                each val in ['Photoshop','HTML', 'php', 'wordpress'] 
                    .col-12.col-md-6.col-xl-3.f
                        .team__wrap.d-flex.justify-content-center
                            +progres
                        h3.team__skills=`${val}`
                        p.primery-text-color.team__skills-txt Donec luctus tortor in placerat faucibus

