mixin footer
    footer.footer.container-fluid
        .footer__author
        .footer__logo
            a.footer__link.link(href="#home") Creativia
        .footer__scroll
            i.fas.fa-chevron-up.footer__icon-scroll