mixin services
    section.services
        .container
            h2.services__title our <span>services</span>
            p.services__subtitle Lorem ipsum dolor sit amet, consectetur <span> adipiscing elit.</span> Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            .row
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInLeft
                        .services__hexagon
                            .services__icon.fas.fa-code
                        h3 development
                    .services__plate.wow.bounceInLeft
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInRight
                        .services__hexagon
                            .services__icon.fab.fa-html5
                        h3 html/css
                    .services__plate.wow.bounceInRight
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInLeft
                        .services__hexagon
                            .services__icon.fab.fa-wordpress-simple
                        h3 wordpress
                    .services__plate.wow.bounceInLeft
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInRight
                        .services__hexagon
                            .services__icon.fas.fa-mobile-alt
                        h3 applications
                    .services__plate.wow.bounceInRight
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInLeft
                        .services__hexagon
                            .services__icon.fas.fa-pencil-alt
                        h3 ui/ux design
                    .services__plate.wow.bounceInLeft
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
                .col-sm-6.services__col
                    .services__wrapper.wow.bounceInRight
                        .services__hexagon
                            .services__icon.fas.fa-laptop
                        h3 responsive layout
                    .services__plate.wow.bounceInRight
                        p.services__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna Dapibus egestas in turpis and Praesent faucibus nisl sit amet nulla sollicitudin.
