.tabs {
    display: flex;
    justify-content: center;


    &__link:not(.show) {
        display: none;
    }


    &__title {
        padding: 15px;
        margin: 5px;
        margin-bottom: 60px;
        cursor: pointer;

        &.active {
            color: #ff0036;
        }
    }

    &__col {
        padding: 0;
        cursor: pointer;
        position: relative;

        &:hover .tabs__plus {
            width: 90px;
            height: 90px;
            opacity: 0.95;
        }

        &:hover .tabs__hover {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.411);
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }


        &:hover .tabs__plus .tabs__icon:before {
            display: block;

        }
    }

    &__img {
        max-width: 100%;

        &--head {
            width: 100%;
        }
    }

    &__plus {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 0;
        height: 90;
        opacity: 0.1;
        background-color: #ff003791;
        box-shadow: 2.5px 4.3px 8px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        top: 35%;
        left: 40%;

        transition-property: opacity;
        transition-duration: .8s;
    }

    &__icon {
        text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 60px;
        font-weight: 400;
        line-height: 46px;
        display: none;
    }

    &__icon:before {
        display: flex;
        display: none;
    }

    @media screen and (max-width: 991px) {

        &__col:hover .tabs__plus {
            width: 42px;
            height: 42px;
            top: 39%;
            left: 46%;
        }

        &__icon {
            font-size: 30px;
            font-weight: 400;
        }
    }

    @media screen and (max-width: 767px) {

        &__title {
            margin-bottom: 15px;
        }
    }


}