mixin tabs
    .container-fluid
        .tabs
            p.tabs__title.active(data-index="0") ILLUSTRATION
            p.tabs__title(data-index="1") WEB DESIGN
        .tabs__link.show(data-index="0")                
            .row
                .col-6.order-2.col-md.order-md-1.tabs__col                    
                    a(href="./img/tabs/tab1.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab1.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab1.png" alt="img")
                        .tabs__hover 
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon 
                .col-12.order-1.col-md-6.order-md-2.tabs__col 
                    a(href="./img/tabs/tab2.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab2.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab2.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.order-3.col-md.tabs__col 
                    a(href="./img/tabs/tab3.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab3.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab3.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
            .row
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab4.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab4.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab4.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab5.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab5.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab5.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab6.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab6.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab6.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab7.1.png" data-fancybox="gallery") 
                        picture
                            source(srcset="./img/tabs/tab7.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab7.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
        .tabs__link(data-index="1")
            .row
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab8.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab8.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab8.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab9.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab9.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab9.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab10.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab10.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab10.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col
                     a(href="./img/tabs/tab11.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab11.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab11.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
            .row
                .col-6.col-md-3.tabs__col 
                     a(href="./img/tabs/tab12.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab12.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab12.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col 
                     a(href="./img/tabs/tab13.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab13.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab13.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col 
                     a(href="./img/tabs/tab14.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab14.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab14.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon
                .col-6.col-md-3.tabs__col 
                     a(href="./img/tabs/tab15.1.png" data-fancybox="gallery1") 
                        picture
                            source(srcset="./img/tabs/tab15.webp" type="image/webp")
                            img.lazy(data-src="./img/tabs/tab15.png" alt="img") 
                        .tabs__hover
                        .tabs__plus 
                            i.fa.fa-plus.tabs__icon