.follow {
    height: 430px;
    // padding: 100px 0;
    background-image: url("../../../dist/img/img11.png");
    background-size: cover;

    @media screen and (max-width: 540px) {
        height: 680px;
        background-size: cover;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    &__back {
        position: absolute;
        z-index: 1;
    }

    &__wrapper {
        position: absolute;
        z-index: 2;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        margin-top: 100px;
        margin-bottom: 50px;
        color: #fff;
        text-align: center;

        @media screen and (max-width: 540px) {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

    &__span-color {
        color: #ff0036;
    }

    &__network-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 540px) {
            flex-direction: column;
        }

        &:hover {
            // display: block;
            transition: 1s;
        }
    }

    &__network {
        width: 80px;
        height: 70px;
        clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
        // background-color: rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 0, 54, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 15px;
    }

    &__network:hover {
        background-color: rgba(0, 0, 0, 0.6);
        transition: 0.5s;
    }

    &__wrap {
        width: 80px;
        margin-right: 30px;

        @media screen and (max-width: 540px) {
            margin-bottom: 15px;
            margin-right: 0;
        }
    }

    &__icon {
        position: absolute;
        font-size: 24px;
        // color: #FF0036;
        color: #fff;
        transition: 1s;
        opacity: 1;
        z-index: 5;
    }

    &__txt {
        text-align: center;
    }
}