mixin follow
    article.follow(id="contact")
        //- img.follow__back(src="./img/img11.png", alt="background")
        .container
            .row
                .col-12
                    .follow__wrapper
                        h2.follow__title Follow 
                            span.follow__span-color Creativia 
                        .follow__network-wrapper
                            .follow__wrap.wow.bounceInUp(data-wow-duration="2s")
                                a(href="javascript:void(0)").follow__network
                                    <i class="fab fa-facebook-f follow__icon"></i>
                                p.follow__txt 20000
                            .follow__wrap
                                a(href="javascript:void(0)").follow__network
                                    <i class="fab fa-twitter follow__icon"></i>
                                p.follow__txt 3567
                            .follow__wrap
                                a(href="javascript:void(0)").follow__network
                                    <i class="fab fa-pinterest-p follow__icon"></i>
                                p.follow__txt 4000
                            .follow__wrap
                                a(href="javascript:void(0)").follow__network
                                    <i class="fab fa-google-plus-g follow__icon"></i>
                                p.follow__txt 200
                    +btn