mixin map
    section.map__container.lazy
        .map(id="map")
        .map__overlay
            .map__name
                h2.map__title find <span>us on </span> the map
            .map__icon
                i.fas.fa-chevron-down.map__icon-scroll
