include ./blocks/header/_header.pug
include ./blocks/nav/_nav.pug
include ./blocks/acordion/_acordion.pug
include ./blocks/about/_about.pug
include ./blocks/portfolio/_portfolio.pug
include ./blocks/tabs/_tabs.pug
include ./blocks/clients/_clients.pug
include ./blocks/progres-bar/_progres-bar.pug
include ./blocks/team/_team.pug
include ./blocks/services/_services.pug
include ./blocks/news/_news.pug
include ./blocks/btn/_btn.pug
include ./blocks/follow/_follow.pug
include ./blocks/map/_map.pug
include ./blocks/footer/_footer.pug






<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Creativia
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/slick.css")
        link(rel="stylesheet", href="./css/slick-theme.css")
        link(rel="stylesheet", href="./css/animate.min.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
        link(rel="stylesheet" href="path/to/swiper.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        +header
        +about
        +portfolio
        +clients
        +team
        +services
        +news
        +follow
        +map
        +footer
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://unpkg.com/swiper/js/swiper.min.js")
        script(src="path/to/swiper.min.js")
        script(src="./js/parallax.min.js")
        script(src="./js/wow.min.js")
        script(src="./js/jquery.lazy.min.js")
        script(src="./js/jquery.lazy.picture.min.js")
        script(src="./js/svgxuse.min.js")
        script(src="https://kit.fontawesome.com/0b79355df0.js" crossorigin="anonymous")      
        script(src="./js/jquery.vide.js")
        script(src="./js/slick.min.js")
        script(src="./js/ajax.js")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQDEK_bp8E3TJz1Sg1VMqF7jn8J3Z7Haw")
        script(src="./js/map.js")
        script(src="./js/script.js")   
        script(src="./js/main.js")     