mixin clients
    section.clients(data-parallax="scroll" data-image-src="./img/img4.png")
        .container
            h2.clients__title our <span>clients</span>
            p.clients__subtitle Lorem ipsum dolor sit amet, consectetur <span> adipiscing elit.</span> Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
            .row
                .col-md-6
                    p.clients__say happy clients say
                    .clients__slider
                        .clients__slide
                            .clients__info
                                p.clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
                                img.lazy.clients__img(data-src="./img/clients5.png" alt="img")
                                p.clients__name amr srour 
                        .clients__slide
                            .clients__info
                                p.clients__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
                                img.lazy.clients__img(data-src="./img/clients6.png" alt="img")
                                p.clients__name  srour amr
                .col-md-6
                    .row
                        .col-6
                            .clients__our
                                img.lazy(data-src="./img/clients.png", alt="img", srcset="")
                        .col-6
                            .clients__our
                                img.lazy(data-src="./img/clients2.png", alt="img", srcset="")
                        .col-6
                            .clients__our
                                img.lazy(data-src="./img/clients3.png", alt="img", srcset="")
                        .col-6
                            .clients__our
                                img.lazy(data-src="./img/clients4.png", alt="img", srcset="")